footer {
    background-color: black;
    margin: 20px 0 0 0;
    display: flex;
    bottom: 0px;
    width: 100%;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: center;
}

li{
    margin: .4em;
    font-weight: 500;
    cursor: pointer;
    list-style-type: none;
    color: aliceblue;
}

li:hover{
    color: FFF;
    font-weight: 700;
}

